[submodule "containers/karton-yaramatcher"]
	path = kartons/karton-yaramatcher
	url = https://github.com/jconnor0426/karton-yaramatcher
[submodule "submodules/karton-config-extractor"]
	path = kartons/karton-config-extractor
	url = https://github.com/jconnor0426/karton-config-extractor
